<div class=row>
    <div class="col-6 mb-2" *ngFor="let p of users">
        <div class="card text-white bg-dark rounded mb-0 border border-dark ">
            <div class="card-body ">
                <h3 class="text-white card-title text-center "> id: {{ p.id_usuario }}</h3>
                <p class="text-center "> Name: {{ p.nombre_usuario }}</p>
                <p class="text-center "> LastName: {{ p.email_usuario }} </p>
                <button type="button " (click)="print()" class="btn btn-outline-secondary btn-lg btn-block " href="http://ev.us.es "> Download </button>
            </div>
        </div>
    </div>
</div>